.heroImg {
  /* z-index: -1; */
}

.container {
  position: relative;
  max-width: 80vw;
  padding: 0 1rem;
  margin: 2rem auto 4rem;
  overflow-x: hidden;
}

@media screen and (max-width: 425px) {
  .container {
    max-width: 100vw;
  }
}

@media screen and (min-width: 425px) and (max-width: 800) {
  .container {
    max-width: 90vw;
  }
}

@media screen and (min-width: 800px) {
  .container {
    max-width: 70vw;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 4rem;
  height: 4rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.lightIconContainer {
  position: absolute;
  top: 10px;
  right: 15px;
  /* border-radius: 9999999px; */
  /* box-shadow: 0px 0px 5px 2px black; */
}

.lightIcon {
  fill: 'white';
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.lightIcon:hover {
  opacity: 1;
}

.bgSliderContainer {
  position: absolute;
  top: 5px;
  right: 5px;
}

.bgSlider {
  /* -webkit-appearance: none; */
  width: 100%;
  height: 10px;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  background: #d3d3d3;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.bgSlider:hover {
  opacity: 1;
}

/* .bgSlider::-webkit-slider-thumb { */
/*   -webkit-appearance: none; */
/*   appearance: none; */
/*   width: 23px; */
/*   height: 24px; */
/*   border: 0; */
/*   background: url('/images/bgBtn.png'); */
/*   cursor: pointer; */
/* } */

/* .bgSlider::-moz-range-thumb { */
/*   width: 23px; */
/*   height: 24px; */
/*   border: 0; */
/*   /1* background: url('/images/bgBtn.png'); *1/ */
/*   cursor: pointer; */
/* } */

.backToHome {
  margin: 3rem 0 0;
}
